<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
         <title>SWAGCLIP</title>
         
         <meta charset="utf-8">
         <meta name="robots" content="all" />
         <meta name="rating" content="safe for kids" />
         <meta name="description" content="Web clips">
        
         <link rel="Shortcut Icon" type="image/ico" href="/static/img/favicon.png">
         <link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="screen">
         <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen">
         
         <script type="text/javascript" src="/static/js/html5.js"></script>
         <script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>
         <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>  -->   
         <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
         <script type="text/javascript" src="/static/js/sclip.js"></script>
		{% block head %}
        {% endblock %}
    </head>
    <body onload="initUI();">    
    
    
    
    	{% block container %}
    		<div id="toolbar">
    		{% block toolbar %}
    			{% if user %}
    				<a href="/user/{{ user.user_id }}/page/0">Home</a>
    				<a href="/static/crx/sclipper.crx">Chrome Swag Clipping extension</a>
    			{% endif %}
    				<a href="/about/">About</a>
    			{{ greeting }}
    		{% endblock %}
    		</div>
    		<div id="cliplist">
    		{% block cliplist %}
    		{% endblock %}
    		</div>
    	{% endblock %}
    </body>
</html>