<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
         <title>Swaglr</title>
         
         <meta charset="utf-8"/>
         <meta name="robots" content="all" />
         <meta name="rating" content="General" />
         <meta property="fb:admins" content="1518568101" />
        
         <link rel="Shortcut Icon" type="image/ico" href="/static/img/favicon.png"/>
         <link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="screen"/>
		 <link rel="stylesheet" href="/static/css/grid.css" type="text/css" media="screen"/>
         <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen"/>
		 
         
         <script type="text/javascript" src="/static/js/html5.js"></script>
         <script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>
         <script type="text/javascript" src="/static/js/jquery.simplemodal.1.4.min.js"></script>
         <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>  -->   
         <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
         <script type="text/javascript" src="/static/js/sclip-api.js"></script>
         <script type="text/javascript" src="/static/js/sclip.js"></script>
         
         <script type="text/javascript">
			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-19444109-1']);
			  _gaq.push(['_trackPageview']);
			
			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();
		</script>
		{% block head %}
        {% endblock %}
    </head>
    <body>    
	{% block container %}
		
		<div id="contentWrap" class="container_18">

			<div id="column1 alpha" class="grid_15">
				<div id="main">
				{% block main %}
				{% endblock %}
				</div><!-- /main -->
			</div> <!-- /column1 --> 

			<div id="column2 omega" class="grid_3">
				<div id="navigation">
				{% block navigation %}
				<div id="logo">
				
					<h1><a href="/"><img src="/static/img/logo.png" alt="Swaglr logo" />swaglr</a></h1>
					
				</div>	
				
        	<div id="toolbar">
        	{% if user %}
						<p><a class="username" href="/user/{{ user.user_id }}/page/0">{{ user|user_nick }}</a></p>
					{% endif %}
		
					<p>{{ greeting }}</p> 
        </div>
				{% endblock %}
				</div><!-- /navigation --> 
			</div><!-- /column2 -->	
		</div><!-- /content --> 

		<div id="footerWrap" class="container_18">
			<div id="footer" class="grid_14">
				<a href="/about/">About us</a><br/>
			</div>
		</div><!-- /footer --> 
				
	{% endblock %}<!-- /block container --> 
    </body>
</html>