{% extends "index.html" %}

{% block title %}
         <title>Swaglr #{{ clip.key.id }}</title>
{% endblock %}

{% block detail%}

<div  class="clip_pagedetail" id="page_detail_{{clip.key.id}}">
	<div class="close-button"><a href="#" onclick="closeClipDetail({{ clip.key.id }});return false;"><span class="iconic close"></span></a></div>
	<div class="left_column">
		{% if clip|is_embed_content %}
			{{ clip|get_embed_content }}
		{% else %}
			{% if clip|is_image_clip %}
			<div class="imgbox" ><img src="/images/tiny/{{ clip.image.key.id }}.jpg"/></div>
			{% endif %}
			{% if clip|is_text_clip %}
			<q cite="{{ clip.page }}"  >{{ clip.text|escape }}</q>
			{% endif %}
		
			{% if clip|is_page_clip %}
				{% if clip|has_title %}
					<q cite="{{ clip.page }}" onclick="closeClip({{ clip.key.id }});">{{ clip.title|escape}}</q>
				{% else %}
					<q cite="{{ clip.page }}" onclick="closeClip({{ clip.key.id }});">{{ clip.page|escape}}</q>
				{% endif %}
			{% endif %}
		
			{% if clip|is_link_clip %}
			<q cite="{{ clip.link }}" >{{ clip.link|slice:"0:40"|escape }}...</q>
			{% endif %} 
		{% endif %} 
		
		<p class="page-url"><a target="_blank" href="{{ clip.page }}">{% if clip|has_title %}{{ clip.title|escape|swag_slice:100 }}{% else %}{{ clip.page|escape|cut_http|swag_slice:100 }}{% endif %}</a></p>
								
	</div>
	<div class="right_column">
	  <table class="social-buttons">  
			<tbody>
				<tr>
					<td>{{ clip|clip_template:"templates/components/twitter.html" }}</td>
					<td>{{ clip|clip_template:"templates/components/facebook.html" }}</td>
				</tr>
			</tbody>
		</table>
		{% if clip|is_commented_clip %}									
			<div class="comment"> 
				<p><a href="/user/{{ clip.user.user_id }}/page/0" class="username"> {{ clip.user.nick }}</a> says:</p>
				<div class="comment-nib"></div>
				<p id="clip-comment-view-{{ clip.key.id }}" class="text">{{  clip.comment|escape }}</p>
				<span id="clip-comment-edit-{{ clip.key.id }}" style="display:none">
					<textarea id="comment-textarea-{{ clip.key.id }}" rows="4" cols="30" ></textarea>
					<p class="right margin t d">
					<a href="#" id="comment-yes-{{ clip.key.id }}" class="awesome small blue">Save</a>
					<a href="#" id="comment-no-{{ clip.key.id }}">Cancel</a>
					</p>
				</span>
			{% if clip|is_my %}
				<p class="right margin t d">
					<a id="edit-comment-btn-{{ clip.key.id }}" onclick="showCommentDialog({{ clip.key.id }});" class="awesome small blue"><span class="iconic edit"></span>Edit comment</a>
				</p>
			{% endif %}
			</div>
		{% else %}	
			By <a href="/user/{{ clip.user.user_id }}/page/0" class="username">{{ clip.user.nick }}</a>
			<div id="clip-comment-view-div-{{ clip.key.id }}" class="comment">
				<p style="display:none" id="clip-comment-view-{{ clip.key.id }}" class="text">{{  clip.comment|escape }}</p>
				<span id="clip-comment-edit-{{ clip.key.id }}" style="display:none">
					<textarea id="comment-textarea-{{ clip.key.id }}" rows="4" cols="30" ></textarea>
					<p class="right margin t d">
					<a href="#" id="comment-yes-{{ clip.key.id }}" class="awesome small blue">Save</a>
					<a href="#"  id="comment-no-{{ clip.key.id }}">Cancel</a>
					</p>
				</span>
			</div>
			{% if clip|is_my %}
			<p class="right margin t d">
				<a href="#" id="add-comment-btn-{{ clip.key.id }}" onclick="showCommentDialog({{ clip.key.id }});" class="awesome small blue"><span class="iconic add"></span>Add comment</a>
			</p>
			{% endif %}
		{% endif %}	<!-- /if clip|is_commented_clip-->		
		

		
		<div class="bottom-toolbar">
							   <a href="#" id="like-button-div-{{ clip.key.id }}" style="display: none" onclick="like({{ clip.key.id }});return false;" class="like-button awesome small"><span class="iconic like"></span>Like</a>
                 {% if clip|is_my %} 
						     <a href="#" id="delete-comment-btn-{{ clip.key.id }}" onclick="showDeleteDialog({{ clip.key.id }});" class="awesome small"><span class="iconic trash"></span>Delete</a>
							   {% endif %}
		</div>	
			
	</div>
	
				
	<div class="cleaner">
		<hr />
	</div>
		
</div>	<!-- /detail-->		                   
<div class="report-name">Latest by&nbsp;<a href="/user/{{clip.user.nick}}/page/0" class="username">{{clip.user.nick}}</a></div>
	
{% endblock %}