{% extends "based.html" %}


{% block head %}
{% endblock %}

{% block main %}
		<div id="clips">

			{% for day in day_clips %}
				<p class="dayId">{{ day.day }}</p>	
    			<ul class="boxList">
    		{% for clip in day.clips %}	
	    			<li id="clip_box_{{clip.key.id}}" onclick="openClip({{ clip.key.id }});">
						{% if clip|is_image_clip %}
							<div class="imgbox crop"><img src="/images/tiny/{{ clip.image.key.id }}.jpg"/></div>
						{% endif %}
			
						{% if clip|is_text_clip %}
						<q class="crop" cite="{{ clip.page }}">{{ clip.text|slice:"0:75"|escape }}...</q>
						{% endif %}
						
						{% if clip|is_page_clip %}
						<q cite="{{ clip.page }}">{{ clip.page|slice:"0:40"|escape }}...</q>
						{% endif %}
						
						{% if clip|is_link_clip %}
						<q cite="{{ clip.link }}">{{ clip.link|slice:"0:40"|escape }}...</q>
						{% endif %} 
						
            			{% if clip|is_commented_clip %} 
						<div class="comment-ico"><img src="/static/img/comment-ico.png"></div>
						{% endif %}
						
						<div class="page-url-box">{{ clip.page|slice:"0:30"|escape }}</div>

						<div id="detail_{{clip.key.id}}" class="detail"> 
							{% if clip|is_image_clip %}
							<div class="imgbox" onclick="closeClip({{ clip.key.id }});" ><img src="/images/tiny/{{ clip.image.key.id }}.jpg"/></div>
							{% endif %}
							{% if clip|is_text_clip %}
							<q cite="{{ clip.page }}" onclick="closeClip({{ clip.key.id }});" >{{ clip.text|escape }}</q>
							{% endif %}
							
							{% if clip|is_page_clip %}
							<q cite="{{ clip.page }}" onclick="closeClip({{ clip.key.id }});">{{ clip.page|slice:"0:40"|escape }}...</q>
							{% endif %}
							
							{% if clip|is_link_clip %}
							<q cite="{{ clip.link }}" onclick="closeClip({{ clip.key.id }});">{{ clip.link|slice:"0:40"|escape }}...</q>
							{% endif %}  
							
							<p>URL: <a class="page-url" target="_blank" href="{{ clip.page }}">{{ clip.page|slice:"0:40"|escape }}...</a></p>
							
							{% if clip|is_commented_clip %}									
								<div class="comment"> 
									<p><a href="/user/{{ clip.user.user_id }}/page/0"> {{ clip.user.nick }}</a> says:</p>
									<p id="clip-comment-view-{{ clip.key.id }}" class="text">{{  clip.comment|escape }}</p>
									<span id="clip-comment-edit-{{ clip.key.id }}" style="display:none">
										<textarea id="comment-textarea-{{ clip.key.id }}" rows="4" cols="30" ></textarea>
										<p class="right">
										<a id="comment-yes-{{ clip.key.id }}" class="awesome small">Save</a>
										<a id="comment-no-{{ clip.key.id }}">Cancel</a>
										</p>
									</span>
								{% if clip|is_my %}
									<p class="right">
										<a id="edit-comment-btn-{{ clip.key.id }}" onclick="showCommentDialog({{ clip.key.id }});" class="awesome small">Edit comment</a>
									</p>
								{% endif %}
								</div>
							{% else %}	
								<div id="clip-comment-view-div-{{ clip.key.id }}" class="comment">
									<p style="display:none" id="clip-comment-view-{{ clip.key.id }}" class="text">{{  clip.comment|escape }}</p>
									<span id="clip-comment-edit-{{ clip.key.id }}" style="display:none">
										<textarea id="comment-textarea-{{ clip.key.id }}" rows="4" cols="30" ></textarea>
										<p class="right">
										<a id="comment-yes-{{ clip.key.id }}" class="awesome small">Save</a>
										<a id="comment-no-{{ clip.key.id }}">Cancel</a>
										</p>
									</span>
								</div>
								{% if clip|is_my %}
								<p class="right">
									<a href="#" id="add-comment-btn-{{ clip.key.id }}" onclick="showCommentDialog({{ clip.key.id }});" class="awesome small">Add comment</a>
								</p>
								{% endif %}
							{% endif %}	<!-- /if clip|is_commented_clip-->							
								
							<p>More clips by&nbsp;<a href="/user/{{ clip.user.user_id }}/page/0"> {{ clip.user.nick }}</a></p>
							{% if clip|is_my %} 
							<p class="right"><a id="delete-comment-btn-{{ clip.key.id }}" onclick="showDeleteDialog({{ clip.key.id }});" class="awesome small blue">Delete clip</a></p>
							{% endif %}
								<p class="right" ><a href="#" onclick="closeClip({{ clip.key.id }});" ">[X]</a>  </p>
							
								
						</div>	<!-- /detail-->		
					</li>  
    		{% endfor %}  <!-- /for clip in day.clips  --> 		
        

					<div class="cleaner">
				    <hr />	
           </div> 	
    			</ul>
    			<div class="cleaner">
				    <hr />
		    	</div>
		    {% endfor %}   <!-- /for day in day_clips   -->	
			<div class="cleaner">
				<hr />
			</div>
			
			<div id="paging"> 
		      {% if next %}
    				<a id="next" href="{{ next }}">&lt;&nbsp;Previous&nbsp;</a>
    			{% endif %}			
			    {% if prev %}
    				<a id="prev" href="{{ prev }}">Next&nbsp;&gt;</a>
    			{% endif %} 

			</div>	<!-- /paging-->
		    </div> <!-- /clips-->
			
			<!-- Clip delete dialog --> 
			<div id="delete-dialog"> 
				<h3>Delete clip?</h3>
				<p>
					(This operation cannot be undone)
				</p> 	
				
				<p class="buttons">
					<a id="delete-yes" class="small awesome" href="#">Delete</a>
					<a id="delete-no" href="#">Cancel</a>
				</p> 		
			</div>  
	 
			<!-- preload the images --> 
			<div style='display:none'> 
				<img src='/static/img/x.png' alt='' /> 
			</div>
			
{% endblock %}
{% debug %} 
