{% extends "based.html" %}


{% block head %}
{% endblock %}

{% block main %}
		<div id="clips">

			{% for day in day_clips %}
				<p class="dayId">{{ day.day }}</p>	
    			<ul class="boxList">
    		{% for clip in day.clips %}	
	    			<li id="clip_box_{{clip.key.id}}">
						{% if clip|is_image_clip %}
							<img src="/images/tiny/{{ clip.image.key.id }}.jpg"/>
						{% endif %}
			
						{% if clip|is_text_clip %}
						<q class="crop" cite="{{ clip.page }}">CROP{{ clip.text|slice:"0:75"|escape }}...</q>
						{% endif %}
						
						{% if clip|is_page_clip %}
						<q cite="{{ clip.page }}">{{ clip.page|slice:"0:20"|escape }}...</q>
						{% endif %}
						
						{% if clip|is_link_clip %}
						<q cite="{{ clip.link }}">{{ clip.link|slice:"0:20"|escape }}...</q>
						{% endif %}  
							

						<div id="detail_{{clip.key.id}}" class="detail"> 
							{% if clip|is_image_clip %}
							<img src="/images/tiny/{{ clip.image.key.id }}.jpg"/>
							{% endif %}
							{% if clip|is_text_clip %}
							<q class="full" cite="{{ clip.page }}">FULL{{ clip.text|escape }}</q>
							{% endif %}
							
							{% if clip|is_page_clip %}
							<q cite="{{ clip.page }}">{{ clip.page|slice:"0:20"|escape }}...</q>
							{% endif %}
							
							{% if clip|is_link_clip %}
							<q cite="{{ clip.link }}">{{ clip.link|slice:"0:20"|escape }}...</q>
							{% endif %}  
							
							<p>Source:&nbsp;<a class="page-url" href="{{ clip.page }}">{{ clip.page|slice:"0:20" }}...</a></p>			
														
							<p class="comment"> Comment:<br/>
								<span id="clip-comment-{{ clip.key.id }}">{% if clip|is_commented_clip %}{{  clip.comment }}{% endif %}</span>
							</p>	
								
							<p>More by<a href="/user/{{ clip.user.user_id }}/page/0"> {{ clip.user.nick }}</a></p>
							
							{% if clip|is_my %}
								<a onclick="showDeleteDialog({{ clip.key.id }});">Delete</a>
								<a onclick="showCommentDialog({{ clip.key.id }});">Edit comment</a>
							{% endif %}
								
						</div>	<!-- /detail-->		
					</li>
    		{% endfor %}    				
    			</ul>
		    {% endfor %}
			<div class="cleaner">
				<hr />
			</div>
			
			<div id="paging">
			    {% if prev %}
    				<a id="prev" href="{{ prev }}">&lt;&nbsp;Older</a>
    			{% endif %} 
		        {% if next %}
    				<a id="next" href="{{ next }}">Newer&nbsp;&gt;</a>
    			{% endif %}
			</div>	<!-- /paging-->
		    </div> <!-- /clips-->
			
			<!-- Clip delete dialog --> 
			<div id="delete-dialog"> 
				<p>Do you really want to delete clip?</p>
				<a id="delete-yes">Yes</a>
				<a id="delete-no">No</a> 		
			</div>
			
			<!-- Clip delete dialog --> 
			<div id="comment-dialog"> 
				<p>Comment</p>
				<textarea id="comment-text" rows="4" cols="20" ></textarea><br/>
				<a id="comment-yes">Save</a>
				<a id="comment-no">Cancel</a> 		
			</div>  
	 
			<!-- preload the images --> 
			<div style='display:none'> 
				<img src='/static/img/x.png' alt='' /> 
			</div>
			
{% endblock %}
{% debug %} 
