/* Container */
#com-ays-simplemodal-container {
	font-family: Helvetica, Arial, sans-serif !important;
	font-size: 12px !important;
	height:auto !important; 
	width:250px !important; 
	background-color:#333 !important;
	border:2px solid #444 !important; 
	padding:12px !important;
	font-family: Helvetica, Arial, sans-serif !important;
	font-size: 12px !important;
	color:#000 !important; 
	background-color: #FDFAF9 !important; 
	-moz-border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    text-align: left;
    line-height: 16px !important;
}

#com-ays-simplemodal-container label{    
	font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    font-family: Helvetica, Arial, sans-serif !important;
	font-size: 12px !important;}

a.com-ays-a  {
	color: #005CFF !important;
	text-decoration: none !important;
	font-style: normal !important;
    font-variant: normal !important;
    font-family: Helvetica, Arial, sans-serif !important;
	font-size: 12px !important;
}

a.com-ays-a:hover {
	color: #005CFF !important;
	text-decoration: underline !important;
	
}

.com-ays-button-area {
	text-align: right !important;
	margin-top:8px;
}

 .com-ays-preview {
                    overflow-y: scroll !important;
                    max-height: 200px !important;
                    width:100% !important;
                    text-align: center !important;
                    font-size: 1.3em !important;
                    margin-bottom: 8px !important;
                                
 }
 
.com-ays-preview img.com-ays-img {
	max-width: 100% !important;
	
  }
  
.com-ays-preview p.com-ays-p {
	padding: 20px !important;
	word-wrap: break-word;
	font-family: Helvetica, Arial, sans-serif !important;
	font-size: 12px !important;
	text-align: center !important;
	
  }
  
   .com-ays-itextarea { 	
	width: 235px !important;
	height: 50px !important;
	border:1px solid #999 !important;
	-webkit-border-radius: 3px !important;
    border-radius:3px !important;
	margin:0 !important;
	padding:5px !important;
	background: #fff !important;
	background: -webkit-gradient(linear, left top, left 25, from(#fff), color-stop(6%, #eee), to(#fff)) !important;
	background: -moz-linear-gradient(top, #fff, #eee 2px, #fff 25px) !important;
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px !important;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px !important;
	font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;

}
  
.com-ays-awesome {
	background: #222 url(http://swagclip.appspot.com/static/img/alert-overlay.png) repeat-x !important;
	display: inline-block !important;
	padding: 5px 10px 6px !important;
	color: #fff !important;
	text-decoration: none !important;
	font-weight: bold !important;
	line-height: 1 !important;
	-moz-border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5) !important;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5) !important;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25) !important;
	border-bottom: 1px solid rgba(0,0,0,0.25) !important;
	text-shadow: 0 -1px 1px #222 !important;
	position: relative !important;
	cursor: pointer !important;

}

.com-ays-awesome:hover {
	color: #fff !important;
	text-decoration: none !important;
}

#com-ays-basic-modal-content {display:none;}

/* Overlay */
#com-ays-simplemodal-overlay {background-color:#000 !important;}
#com-ays-simplemodal-container a.modalCloseImg {width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#com-ays-simplemodal-container #com-ays-basic-modal-content {padding:8px !important;}