<div id="landingpage" class="clip_pagedetail">
	<h1>Welcome to SWAGLR</h1>
	<div class="welcome-text">
    <p>
	Swaglr is a simple tool for sharing small bits of web pages with each other.</p>

	<p>It is unsophisticated. Swaglr enables you easily share (or quote as we say) any piece of interesting information you find online.</p>

	<p>Swaglr helps you quote selected text, images, links and whole pages. Just make a selection in your browser, right click and send it to Swaglr.</p>
	</div>				
</div>