<div id="landingpage">
	<h1>Welcome to SWAGLR!</h1>
	<p>
	Ut justo magna, semper at sagittis quis, mattis eget diam. Aenean turpis ligula, fermentum quis tempus sed, vestibulum nec sapien. Maecenas et lectus et libero fermentum ultricies vitae nec quam. Cras dolor libero, bibendum quis pellentesque ac, posuere ultrices mauris. Vivamus ac sem quis turpis luctus feugiat. Praesent adipiscing venenatis ligula eget suscipit. Cras consequat rhoncus adipiscing. Praesent non ante sed quam malesuada ultrices sed vel mi. Pellentesque rhoncus ultricies urna id dapibus. Maecenas imperdiet ullamcorper tortor commodo egestas. Etiam varius nisi nec ligula vulputate cursus. Quisque arcu tellus, varius eu placerat quis, dictum sed dui.
	</p>
</div>