<div id="landingpage" class="clip_pagedetail" style="display: none;">
	<h3>Welcome to SWAGLR!</h3>
	<h4>
	Long time we were missing a simple service for sharing small bits of web with each other. 
	</h4>
	<h4>
	Something usable, sexy and unsophisticated. Something what enables easily share any piece of interesting information we find online.
	</h4>
	<h4>
	So we created Swaglr.
	</h4>
	<h4>
	Swaglr helps you quote selected text, images, links and whole pages. Just make a selection in your browser, right click and send it to Swaglr.
	</h4>
	<center><a href="#" onclick="$.modal.close();"><H2>Continue...</H2></a></center>
</div>