<div class="clip_pagedetail">
	<H3>Welcome to SWAGLR!</H3>
	<p>
	 No swags no fun. Best start is to <a href="#" onclick="showExtensionDialog();return false;">download</a> extension for you browser and start posting.
	</p>
	<br/>	
	<p>
	Or just become a follower of one of our recommended users and all the nice stuff posted by them will come to you!
	</p>
	<br/>
	<p>
		Check some of our swag stars <a href="/user/jonas.sklepek/page/0" class="username"> jonas.sklepek</a>
		<a href="/user/bstoklasova/page/0" class="username"> bstoklasova</a> 
		<a href="/user/krablak/page/0" class="username"> krablak</a>
		<a href="/user/mirek.zdimal/page/0" class="username"> mirek.zdimal</a> or 
		<a href="/user/jk.vlcek/page/0" class="username"> jk.vlcek</a>
	</p>
</div>