@font-face {
  font-family: 'Anivers';
  src: url("../fonts/Anivers_Regular.otf");
}

/* Left & Right alignment */
/* line 11, ../src/style.scss */
.left {
  float: left;
}

/* line 12, ../src/style.scss */
.right {
  float: right;
}

/* The inside class provides consistent padding. To be used often! */
/* line 15, ../src/style.scss */
.inside {
  padding: 20px;
}

/* For when a <br /> just ain't enough */
/* line 19, ../src/style.scss */
.separator {
  clear: both;
  float: left;
  height: 1px;
  width: 100%;
}

/* Project specifics =========================================================== */
/* line 33, ../src/style.scss */
body {
  padding: 20px;
  font: normal normal 10px/10px "Anivers", Tahoma, Arial, Helvetica, Verdana, sans-serif;
  color: #fff;
  background-color: #111111;
}

/* line 42, ../src/style.scss */
q {
  text-align: left;
}

/**
* Box list
*/
/* line 56, ../src/style.scss */
#clips .dayId {
  font-size: 1.4em;
  color: #fff;
}
/* line 61, ../src/style.scss */
#clips #paging {
  padding: 5px 10px 0px 0px;
  text-align: center;
}
/* line 64, ../src/style.scss */
#clips #paging a {
  color: white;
  font-size: 1.4em;
  text-decoration: none;
}
/* line 18, ../../../../../../../.gem/ruby/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
#clips #paging a:visited {
  color: white;
}
/* line 21, ../../../../../../../.gem/ruby/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
#clips #paging a:focus {
  color: white;
}
/* line 24, ../../../../../../../.gem/ruby/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
#clips #paging a:hover {
  color: white;
}
/* line 27, ../../../../../../../.gem/ruby/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
#clips #paging a:active {
  color: white;
}

/* line 75, ../src/style.scss */
#navigation #logo {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 3.6em;
}
/* line 79, ../src/style.scss */
#navigation #logo a {
  color: white;
  text-decoration: none;
}
/* line 18, ../../../../../../../.gem/ruby/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
#navigation #logo a:visited {
  color: white;
}
/* line 21, ../../../../../../../.gem/ruby/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
#navigation #logo a:focus {
  color: white;
}
/* line 24, ../../../../../../../.gem/ruby/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
#navigation #logo a:hover {
  color: white;
}
/* line 27, ../../../../../../../.gem/ruby/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
#navigation #logo a:active {
  color: white;
}
/* line 85, ../src/style.scss */
#navigation p {
  margin-bottom: 5px;
}

/* line 93, ../src/style.scss */
#footer {
  margin-top: 30px;
  padding: 5px;
  height: 100px;
}
/* line 99, ../src/style.scss */
#footer a {
  color: #999999;
  text-decoration: none;
}
/* line 18, ../../../../../../../.gem/ruby/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
#footer a:visited {
  color: #999999;
}
/* line 21, ../../../../../../../.gem/ruby/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
#footer a:focus {
  color: #999999;
}
/* line 24, ../../../../../../../.gem/ruby/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
#footer a:hover {
  color: #999999;
}
/* line 27, ../../../../../../../.gem/ruby/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
#footer a:active {
  color: #999999;
}

/* line 108, ../src/style.scss */
.box {
  width: 149px;
  height: 120px;
  display: block;
  float: left;
  margin: 0px 5px 5px 0;
  border: 1px solid #5a5a5a;
  background-color: #fff;
  padding: 5px;
  position: relative;
}
/* line 119, ../src/style.scss */
.box a {
  position: relative;
  left: 0px;
  top: 100px;
  background-color: #fff;
  color: #555;
  font-size: 0.8em;
}

/* line 137, ../src/style.scss */
.cleaner {
  clear: both;
  height: 0;
  content: ' ';
  overflow: hidden;
}
/* line 143, ../src/style.scss */
.cleaner hr {
  display: none;
}

/* Modal dialogs =========================================================== */
/* line 150, ../src/style.scss */
.detail {
  display: none;
}

/* Overlay */
/* line 152, ../src/style.scss */
#simplemodal-overlay {
  background-color: #000;
}

/* Container */
/* line 154, ../src/style.scss */
#simplemodal-container {
  height: 320px;
  width: 600px;
  color: #bbb;
  background-color: #111111;
  border: 4px solid #444;
  padding: 12px;
}

/* line 155, ../src/style.scss */
#simplemodal-container a.modalCloseImg {
  background: url(/static/img/x.png) no-repeat;
  width: 25px;
  height: 29px;
  display: inline;
  z-index: 3200;
  position: absolute;
  top: -15px;
  right: -16px;
  cursor: pointer;
}

/* line 156, ../src/style.scss */
#simplemodal-container #basic-modal-content {
  padding: 8px;
}
