@font-face {
  font-family: 'Anivers';
  src: url("../fonts/Anivers_Regular.otf");
}

/* Left & Right alignment */
/* line 11, ../src/style.scss */
.left {
  float: left;
}

/* line 12, ../src/style.scss */
.right {
  float: right;
}

/* The inside class provides consistent padding. To be used often! */
/* line 15, ../src/style.scss */
.inside {
  padding: 20px;
}

/* For when a <br /> just ain't enough */
/* line 19, ../src/style.scss */
.separator {
  clear: both;
  float: left;
  height: 1px;
  width: 100%;
}

/* Project specifics =========================================================== */
/* line 33, ../src/style.scss */
body {
  padding: 20px;
  font: normal normal 10px/10px "Anivers", Tahoma, Arial, Helvetica, Verdana, sans-serif;
  color: #fff;
  background-color: #111111;
}

/* line 42, ../src/style.scss */
q {
  text-align: left;
}

/**
* Box list
*/
/* line 56, ../src/style.scss */
#clips .dayId {
  font-size: 1.4em;
  color: #fff;
}
/* line 61, ../src/style.scss */
#clips #paging {
  padding: 5px 10px 0px 0px;
  text-align: center;
}
/* line 64, ../src/style.scss */
#clips #paging a {
  color: white;
  font-size: 1.4em;
  text-decoration: none;
}
/* line 18, ../../../../../../Ruby/lib/ruby/gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
#clips #paging a:visited {
  color: white;
}
/* line 22, ../../../../../../Ruby/lib/ruby/gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
#clips #paging a:focus {
  color: white;
}
/* line 26, ../../../../../../Ruby/lib/ruby/gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
#clips #paging a:hover {
  color: white;
}
/* line 30, ../../../../../../Ruby/lib/ruby/gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
#clips #paging a:active {
  color: white;
}

/* line 75, ../src/style.scss */
#navigation #logo {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 3.6em;
}
/* line 79, ../src/style.scss */
#navigation #logo a {
  color: white;
  text-decoration: none;
}
/* line 18, ../../../../../../Ruby/lib/ruby/gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
#navigation #logo a:visited {
  color: white;
}
/* line 22, ../../../../../../Ruby/lib/ruby/gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
#navigation #logo a:focus {
  color: white;
}
/* line 26, ../../../../../../Ruby/lib/ruby/gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
#navigation #logo a:hover {
  color: white;
}
/* line 30, ../../../../../../Ruby/lib/ruby/gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
#navigation #logo a:active {
  color: white;
}
/* line 85, ../src/style.scss */
#navigation p {
  margin-bottom: 5px;
}

/* line 93, ../src/style.scss */
#footer {
  margin-top: 30px;
  padding: 5px;
  height: 100px;
}
/* line 99, ../src/style.scss */
#footer a {
  color: #999999;
  text-decoration: none;
}
/* line 18, ../../../../../../Ruby/lib/ruby/gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
#footer a:visited {
  color: #999999;
}
/* line 22, ../../../../../../Ruby/lib/ruby/gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
#footer a:focus {
  color: #999999;
}
/* line 26, ../../../../../../Ruby/lib/ruby/gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
#footer a:hover {
  color: #999999;
}
/* line 30, ../../../../../../Ruby/lib/ruby/gems/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
#footer a:active {
  color: #999999;
}

/* line 108, ../src/style.scss */
.box {
  width: 149px;
  height: 120px;
  display: block;
  float: left;
  margin: 0px 5px 5px 0;
  border: 1px solid #5a5a5a;
  background-color: #fff;
  padding: 5px;
  position: relative;
}
/* line 119, ../src/style.scss */
.box a {
  position: relative;
  left: 0px;
  top: 100px;
  background-color: #fff;
  color: #555;
  font-size: 0.8em;
}

/* line 137, ../src/style.scss */
.cleaner {
  clear: both;
  height: 0;
  content: ' ';
  overflow: hidden;
}
/* line 143, ../src/style.scss */
.cleaner hr {
  display: none;
}
