/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../../../../../../../.gem/ruby/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../../../.gem/ruby/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../../../.gem/ruby/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../../../.gem/ruby/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../../../.gem/ruby/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../../../.gem/ruby/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../../../.gem/ruby/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../../../.gem/ruby/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 17, ../src/screen.scss */
a {
  color: black;
}
/* line 18, ../../../../../../../../../.gem/ruby/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:visited {
  color: black;
}
/* line 21, ../../../../../../../../../.gem/ruby/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:focus {
  color: black;
}
/* line 24, ../../../../../../../../../.gem/ruby/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:hover {
  color: black;
}
/* line 27, ../../../../../../../../../.gem/ruby/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:active {
  color: black;
}

/* line 23, ../src/screen.scss */
body {
  font-family: 'Molengo', arial, serif;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #00000f));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #00000f 100%);
  height: 1500px;
}

/* line 29, ../src/screen.scss */
#date {
  font-size: 12px;
}

/* line 33, ../src/screen.scss */
#author {
  font-size: 12px;
}

/* line 37, ../src/screen.scss */
#page {
  font-size: 12px;
}

/* line 41, ../src/screen.scss */
#text {
  margin-top: 3px;
  margin-bottom: 3px;
}

/* line 46, ../src/screen.scss */
#controls {
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 12px;
}

/* line 52, ../src/screen.scss */
#prev {
  color: #fefefe;
}

/* line 56, ../src/screen.scss */
#next {
  color: #fefefe;
}

/* line 61, ../src/screen.scss */
#header {
  font-family: 'Lobster', serif;
  font-size: 48px;
  margin-bottom: 10px;
}

/* line 67, ../src/screen.scss */
#container {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2px;
  margin-bottom: 50px;
}

/* line 78, ../src/screen.scss */
#cliplist {
  margin-top: 10px;
}

/* line 82, ../src/screen.scss */
#clip {
  border: 5px solid #fefefe;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  margin-top: 6px;
  background-color: #fefefe;
  width: 700px;
}

/* line 90, ../src/screen.scss */
.link-clip {
  -moz-box-shadow: #1a21b3 0px 0px 3px;
  -webkit-box-shadow: #1a21b3 0px 0px 3px;
  -o-box-shadow: #1a21b3 0px 0px 3px;
  box-shadow: #1a21b3 0px 0px 3px;
}

/* line 94, ../src/screen.scss */
.text-clip {
  -moz-box-shadow: #70e600 0px 0px 3px;
  -webkit-box-shadow: #70e600 0px 0px 3px;
  -o-box-shadow: #70e600 0px 0px 3px;
  box-shadow: #70e600 0px 0px 3px;
}

/* line 98, ../src/screen.scss */
.image-clip {
  -moz-box-shadow: #e2004c 0px 0px 3px;
  -webkit-box-shadow: #e2004c 0px 0px 3px;
  -o-box-shadow: #e2004c 0px 0px 3px;
  box-shadow: #e2004c 0px 0px 3px;
}

/* line 102, ../src/screen.scss */
#tweet {
  position: relative;
  margin-left: 570px;
}

/* line 107, ../src/screen.scss */
#imgPreviewWithStyles {
  background: #afafaf;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 6px;
  z-index: 999;
  border: none;
}

/* line 116, ../src/screen.scss */
#detail-image {
  margin-top: 10px;
  margin-bottom: 10px;
}
