<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>Web Post Form</title>
	</head>
	<body>
		<ready id="yes"></ready>
		<form id="post" name="post" action="#" method="post">
			swg_type:<input id="swg_type" name="type" type="text"/><br/>
			swg_page:<input id="swg_page" name="page" type="text"/><br/>
			swg_title:<input id="swg_title" name="title" type="text"/><br/>
			swg_text:<input id="swg_text" name="text" type="text"/><br/>			
			swg_link:<input id="swg_link" name="link" type="text"/><br/>			
			swg_src:<input id="swg_src" name="src" type="text"/><br/>
			swg_comment:<input id="swg_comment" name="comment" type="text"/><br/>
			
			<input id="swg_submit" type="submit" style="visibility: hidden;"/><br/>
		</form>
	</body>
</html>