<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<meta charset="utf-8">
<link rel="stylesheet" href="reset.css" type="text/css" media="screen">
<link rel="stylesheet" href="style.css" type="text/css" media="screen">


<body>


<div id="sc_post_dialog" class="dialog_window">

<H3>Clipped swag</h3>



<p id="clip_details">

<img src="clip.png" alt="http://www.behance.net/gallery/ISO-3IRL1N/747255"/><br/>
Clipped text : persists from the time the
plugin is instantiated on the element until it is destroyed, either
explicitly</p>

<form method="post" action="" onsubmit="return:false" class="iform">
<ul>
<li><label for="comment">Add comment:</label></br><textarea class="itextarea" name="comment" id="comment"></textarea></li>
</ul></form>

<p id="button_area"><a class="medium awesome" id="btn_post">Post</a>  
   <a class="medium awesome" id="btn_cancel">Close</a></p>


</div>


</body>
</html>