/* Getting the new tags to behave */
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video
	{
	display: block;
}

mark,rp,rt,ruby,summary,time {
	display: inline
}

@font-face {
	font-family: 'Lobster1.1Regular';
	src: url('../fonts/Lobster_1.1_-webfont.eot');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RalewayThin';
	src: url('../fonts/raleway_thin-webfont.eot');
	font-weight: normal;
	font-style: normal;
}

/* Site-wide properties ======================================================== */
body {
	font-family: Tahoma, Arial, Helvetica, Verdana,
		sans-serif;
		font-size: 0.8em;
}

/* Fibonacci based heading scale ratio */
h1 {
	font-size: 4.4em;
	font-weight: normal;
}

h2 {
	font-size: 2.8em;
	font-weight: bold;
}

h3 {
	font-size: 1.6em;
	font-weight: bold;
}

h4 {
	font-size: 1.2em;
	font-weight: bold;
}

/* Reusable classes ============================================================ */
	/* Left & Right alignment */
.left {
	float: left;
}

.right {
	float: right;
}

/* The inside class provides consistent padding. To be used often! */
.inside {
	padding: 20px;
}

/* The fraction classes are useful for column lists */
.half,.third,.quarter,.fifth,.sixth {
	width: 100%;
}

.half li,.third li,.quarter li,.fifth li,.sixth li {
	float: left;
}

.half li {
	padding-right: 5%;
	width: 45%
}

.third li {
	padding-right: 5%;
	width: 28.3%
}

.quarter li {
	padding-right: 5%;
	width: 20%
}

.fifth li {
	padding-right: 5%;
	width: 15%
}

/* For when a <br /> just ain't enough */
.separator {
	clear: both;
	float: left;
	height: 1px;
	width: 100%;
}

/* Basic Structure ============================================================= */
#wrap {
	margin: 0 auto;
	position: relative;
	width: 960px;
}

/* Header */
header {
	float: left;
	width: 100%;
}

/* Content */
article {
	float: left;
	width: 66.7%;
}

/* Sidebar */
aside {
	float: left;
	width: 33.3%;
}

/* Footer */
footer {
	float: left;
	width: 100%;
}

/*------------------------------------------------------------------------------*/
	/* Project specifics =========================================================== */
.awesome {
	background: #222 url(alert-overlay.png) repeat-x;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	/*-moz-border-radius: 5px;
	-webkit-border-radius: 5px;*/
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	text-shadow: 0 -1px 1px #222;
	border-bottom: 1px solid #222;
	position: relative;
	cursor: pointer;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

/* Sizes ---------- */
.small.awesome {
	font-size: 11px;
}

.medium.awesome {
	font-size: 13px;
}

.large.awesome {
	font-size: 14px;
	padding: 8px 14px 9px;
}

/* Colors ---------- */
.blue.awesome {
	background-color: #2daebf;
}

.red.awesome {
	background-color: #e33100;
}

.magenta.awesome {
	background-color: #a9014b;
}

.orange.awesome {
	background-color: #ff5c00;
}

.yellow.awesome {
	background-color: #ffb515;
}

.dialog_window {
	position: absolute;
	right: 50%;
	top: 40px;
	width: 250px;
	padding: 10px;
	border: 1px solid gray;
	background-color: white;
	z-index: 99999;
}

.dialog_window h3{
	margin-top:0.4em;
}

#button_area {
	text-align: right;
}

.iform ul { margin:0; padding:0; list-style:none;}

 .itextarea { 	
	width: 235px;
	height: 50px;
	border:1px solid #999;
	-webkit-border-radius: 3px;-khtml-border-radius:3px;-moz-border-radius:3px;border-radius:3px;
	margin:0;
	padding:5px;
	background: #fff;
	background: -webkit-gradient(linear, left top, left 25, from(#fff), color-stop(6%, #eee), to(#fff));
	background: -moz-linear-gradient(top, #fff, #eee 2px, #fff 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;

}