@import "compass/css3";
@import "compass/utilities";
   
@font-face {
	font-family: 'Anivers';
	src: url('../fonts/Anivers_Regular.otf');
	}
	
/* Fibonacci based heading scale ratio */
h1 {
	font-size: 4.4em;
	font-weight: normal;
}

h2 {
	font-size: 2.8em;
	font-weight: bold;
}

h3 {
	font-size: 1.6em;
	font-weight: bold;
}

h4 {
	font-size: 1.2em;
	font-weight: bold;
}	

h1, h2, h3, h4 {
	line-height: 115%;
                                          
}

.bold{
	font-weight: bold;
}

.italic{
	font-style: italic;
}

.right{
	text-align:right;
}
.left{
	text-align:left;
}


/* For when a <br /> just ain't enough */
.separator{
    clear: both;
    float: left;
    height: 1px;
    width: 100%; }


    
/* Project specifics =========================================================== */

 
$color1: #292929;  /*tmave seda */    /*body background*/
$color2: #2daebf;   /*tyrkysova tmavsi*/
$color3: #3AF5F5; /*tyrkysova*/
$color4: #FDFAF9; /*bila*/     /*vychozi barva pisma*/
$color5: #F71624; /*cervena*/
$color6: #2E2A36;  /*original tmave modra*/



$mainFont: "Anivers";
$footer-link-color:#999;
$general-padding:8px;
$default-radius:4px;

$box-width:194px;       
$box-height:140px;
$box-margin:10px;
$box-background: #F5F0E6;
//$detail-background: #f4f4f4; 
$detail-background: $color4;

/*Dialogs - confirm dialogs, etc.*/
@mixin dialog-border {
	border:2px solid #444; 
}

body{
	padding:20px;
    font: normal normal 10px/10px $mainFont, Tahoma, Arial, Helvetica, Verdana, sans-serif; 
	line-height: 110%;
	color: $color4;
	background-color: $color1;
	
	}

/*
normal
hover
active
visited
focus
*/	
a {
  @include link-colors($color2, $color5, $color5, $color2, $color2);  
  @include hover-link;

}	

	  
#main {

}	

/**
* Box list
*/
#clips {

	.dayId{
		font-size: 1.6em;
		font-weight:bold;
		text-align: right;
		position:relative;                                   
		top: 10px;
		left: -4*$box-width - 4*$box-margin - 25px;
		color: $color4;
	}
	
	#paging{
		padding:5px 10px 0px 0px;
		position:relative;
		top:10px;
		text-align: center;
		a {
			@include link-colors($color4, $color4, $color4, $color4, $color4);
			font-size: 1.4em;
			@include hover-link;

		}
	}

}

#navigation {

  a { /*Login, username*/
			@include link-colors($color2, $color4, $color2, $color2, $color2);
			font-size: 1.2em;
			@include hover-link;
		}

	#logo{
		font-size: 3em;
		text-shadow: rgb(130,130,130) 1px 2px 4px;
		margin-top:0px;
		//text-align: right;

		a{   /*LOGO*/
			@include link-colors($color4, $color4, $color4, $color4, $color4);
			text-decoration: none;
		}
		
	}
	
	#toolbar{
		
	}

}



#footer {

	margin-top:30px;
	padding: $general-padding;
	height:100px;
	
	a{
		@include link-colors($footer-link-color, $footer-link-color, $footer-link-color, $footer-link-color, $footer-link-color);
		@include hover-link;
	
	}
}


ul.boxList{
	list-style: none;
	margin: 0 auto;
	margin-bottom: - $box-margin;
	padding: 0;
	
}
	  
ul.boxList li {
  width:$box-width;
	height:$box-height;
	float:left;
	margin: 0px $box-margin $box-margin 0;
	position:relative;
	word-wrap: break-word;
	color: black;
	background:$box-background;
	text-align: center;
	@include box-shadow(rgb(120,120,120), 1px, 1px, 6px);
	@include border-radius(2px);
	
	.imgbox{
		margin:0px 0px 0px 0px;
		overflow: hidden;
		text-align: center;
	
		img{
			vertical-align: middle;
			//opacity: 0.85;
			max-width: 100%;
			display:inline;
		}
	}
	.crop {
		height: $box-height;
	}   

	a.page-url{
		font-size:1.2em;
	}
	
	p {
		padding: $general-padding;
		font-size:1.2em;
	}
	
	q{
		font-size:1.4em;
		line-height:1.1em;
		margin-top: 30px;
		word-wrap: break-word;
		padding: $general-padding;
		text-align:center;
		display:block;
			
	}
	.comment-ico{
    position: absolute;
    bottom: 0px ;
    right: 0px;
    height: 20px;
    border-left: 1px solid #ddd;
    padding: 6px 2px 2px 2px;
    //background: $color4;
    z-index: 100;

    /*filter:alpha(opacity=90);
	  -moz-opacity:0.9;
	  -khtml-opacity: 0.9;
  	opacity: 0.9; */             
  }
  
	.page-url-box{
    position: absolute;
    bottom: 0px;
    height: 12px;
    width: $box-width - 2*$general-padding;
    background: rgba(255, 250, 240, 0.65);
    padding: $general-padding;
    color: $color1;
    font-size:1.2em;
    z-index: 99;
    }
	
	.detail { 
		position: absolute; 
		left: -20%; 
		top: -20px;
		padding: 0px 0px $general-padding 0px;
		width: 140%;
		display: none;
		background: $detail-background;
		@include border-radius($default-radius); 

		q{
			margin-top: 0px;
			padding: 30px;
			text-shadow: #ddd 1px 2px 1px;
			font-size:1.6em;
		}
    
    .comment{
  		.text {
  			background: #D8F2F9;
  			margin: 0px 10px 10px 10px;
  			@include border-radius($default-radius);
  			color: dark-gray;
  		}
  		
  		textarea {
  			margin-left: 10px;
  			width: 90%;
  			height: 100px;
  		}
	}  
		
		.imgbox {
      margin: 10px;
    }
	}
	
}

ul.boxList li.open{
		img{
			opacity: 1;
		}
		.detail {
			display: block;
			z-index: 999;
		}
}
	
	
	
.pressed {

}	
 
.clips {

}




.cleaner {
	clear: both;
	height: 0;
	content: ' ';
	overflow: hidden;
	
	hr {
		display: none;
		}
}


#delete-dialog {
	display:none;
}
#comment-dialog {display:none;}
/* Overlay */
#simplemodal-overlay {background-color:#000;}

/* Container */
#simplemodal-container {
	width:300px; 
	color:#000; 
	background-color: $color4; 
	border:2px solid $color6;
	@include border-radius($default-radius);
	padding:$general-padding;
	
	.buttons{
		margin-top:5px;
	}
	h3,p {
		text-align:center;
	}
	h3{ margin-bottom:5px;
	}

	
	a.modalCloseImg {
		background:url(/static/img/x.png) no-repeat; 
		width:25px; 
		height:29px; 
		display:inline; 
		z-index:3200; 
		position:absolute; 
		top:0px; right:0px; 
		cursor:pointer;
	}
}
//#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; margin-bottom:12px; padding:4px 6px 6px;}


#simplemodal-container #basic-modal-content {padding:8px;}


.awesome {
	background: $color1 url(/static/img/alert-overlay.png) repeat-x;
	@include link-colors($color4, $color4, $color4, $color4, $color4);
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	@include border-radius($default-radius);
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	text-shadow: 0 -1px 1px #222;
	border-bottom: 1px solid #222;
	position: relative;
	cursor: pointer;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

a.awesome:hover {
  text-decoration: none;
  }

/* Sizes ---------- */
.small.awesome {
	font-size: 11px;
	padding: 4px 8px 5px;
}

.medium.awesome {
	font-size: 13px;
}

.large.awesome {
	font-size: 14px;
	padding: 8px 14px 9px;
}
.blue.awesome {
	background-color: #2daebf;
}



