@import "compass/css3";
@import "compass/utilities";
   
@font-face {
	font-family: 'Anivers';
	src: url('../fonts/Anivers_Regular.otf');
	}
	

/* Left & Right alignment */
.left{ float: left; }
.right{ float: right; }

/* The inside class provides consistent padding. To be used often! */
.inside{ padding: 20px; }


/* For when a <br /> just ain't enough */
.separator{
    clear: both;
    float: left;
    height: 1px;
    width: 100%; }


    
/* Project specifics =========================================================== */

$mainFont: "Anivers";
$footer-link-color:#999;
$common-padding: 5px;

body{
	padding:20px;
    font: normal normal 10px/10px $mainFont, Tahoma, Arial, Helvetica, Verdana, sans-serif; 
	color: #fff;
	background-color: #111111;
	}


	  
q{
	text-align:left;
}
	  
#main {


}	

/**
* Box list
*/
#clips {

	.dayId{
		font-size: 1.4em;
		color: #fff;
	}
	
	#paging{
		padding:5px 10px 0px 0px;
		text-align: center;
		a {
			@include link-colors(#fff, #fff, #fff, #fff, #fff);
			font-size: 1.4em;
			text-decoration: none;

		}
	}

}

#navigation {
	#logo{
		margin-top:10px;
		margin-bottom:10px;
		font-size: 3.6em;
		a{
			@include link-colors(#fff, #fff, #fff, #fff, #fff);
			text-decoration: none;
		}
		
	}
	p{
		margin-bottom:5px;
	}

}



#footer {

	margin-top:30px;
	padding: $common-padding;
	height:100px;
	
	a{
		@include link-colors($footer-link-color, $footer-link-color, $footer-link-color, $footer-link-color, $footer-link-color);
		text-decoration: none;
	
	}
}


	  
.box {
	width:149px;
	height:120px;
	display: block;
	float:left;
	margin: 0px 5px 5px 0;
	border: 1px solid #5a5a5a;
	background-color: #fff;
	padding: 5px;
	position:relative;
	
	a{
		position:relative;
		left:0px;
		top:100px;
		background-color: #fff;
		color: #555;
		font-size:0.8em;
	}
}

 
.clips {

}




.cleaner {
	clear: both;
	height: 0;
	content: ' ';
	overflow: hidden;
	
	hr {
		display: none;
		}
}


/* Modal dialogs =========================================================== */
.detail {display:none;}
/* Overlay */
#simplemodal-overlay {background-color:#000;}
/* Container */
#simplemodal-container {height:320px; width:600px; color:#bbb; background-color:#111111; border:4px solid #444; padding:12px;}
#simplemodal-container a.modalCloseImg {background:url(/static/img/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container #basic-modal-content {padding:8px;}