@import "compass/css3";
@import "compass/utilities";
   
@font-face {
	font-family: 'Anivers';
	src: url('../fonts/Anivers_Regular.otf');
	}
	
/* Fibonacci based heading scale ratio */
h1 {
	font-size: 4.4em;
	font-weight: normal;
}

h2 {
	font-size: 2.8em;
	font-weight: bold;
}

h3 {
	font-size: 1.6em;
	font-weight: bold;
}

h4 {
	font-size: 1.2em;
	font-weight: bold;
}	

h1, h2, h3, h4 {
	line-height: 115%;

}


.bold{
	font-weight: bold;
}

.italic{
	font-style: italic;
}

.right{
	text-align:right;
}
.left{
	text-align:left;
}


/* For when a <br /> just ain't enough */
.separator{
    clear: both;
    float: left;
    height: 1px;
    width: 100%; }


    
/* Project specifics =========================================================== */

$mainFont: "Anivers";
$footer-link-color:#999;
$body-background:#222;
$general-padding:8px;
$default-radius:4px;

$box-width:194px; 
$box-height:140px;
$box-margin:10px;
$box-background: #fff;
$detail-background: #f4f4f4;

/*Dialogs - confirm dialogs, etc.*/
@mixin dialog-border {
	border:2px solid #444; 
}

body{
	padding:20px;
    font: normal normal 10px/10px $mainFont, Tahoma, Arial, Helvetica, Verdana, sans-serif; 
	line-height: 110%;
	color: #fff;
	background-color: $body-background;
	}

	  
#main {


}	

/**
* Box list
*/
#clips {

	.dayId{
		font-size: 1.6em;
		font-weight:bold;
		margin-bottom:5px;
		margin-left:-50px;
		color: #fff;
	}
	
	#paging{
		padding:5px 10px 0px 0px;
		text-align: center;
		a {
			@include link-colors(#fff, #fff, #fff, #fff, #fff);
			font-size: 1.4em;
			text-decoration: none;

		}
	}

}

#navigation {
	#logo{
		margin-top:15px;
		margin-bottom:10px;
		font-size: 3.6em;
		a{
			@include link-colors(#fff, #fff, #fff, #fff, #fff);
			text-decoration: none;
		}
		
	}
	p{
		margin-bottom:5px;
	}

}



#footer {

	margin-top:30px;
	padding: $general-padding;
	height:100px;
	
	a{
		@include link-colors($footer-link-color, $footer-link-color, $footer-link-color, $footer-link-color, $footer-link-color);
		text-decoration: none;
	
	}
}


ul.boxList{
	list-style: none;
	margin: 0 auto;
	padding: 0;
}
	  
ul.boxList li {
    width:$box-width;
	height:$box-height;
	float:left;
	margin: 0px $box-margin $box-margin 0;
	border: 1px solid #222;
	position:relative;
	word-wrap: break-word;
	color: black;
	background:$box-background;
	
	.imgbox{
		margin:10px;	
		overflow: hidden;
		text-align: center;
		//vertical-align:middle;
	
		img{
			vertical-align: middle;
			opacity: 0.85;
			width: 100%;
			display:inline;
		}
	}
	.crop { /*Use only with .imgbox*/
		height: $box-height - 20px;
	}
	
	.comment{
		.text {
			background: #D8F2F9;
			margin: 0px 10px 10px 10px;
			@include border-radius($default-radius);
			color: dark-gray;
		}
		
		textarea {
			margin-left: 10px;
			width: 90%;
			height: 100px;
		}
	}

	a.page-url{
		font-size:1.2em;
	}
	
	p {
		padding: $general-padding;
		font-size:1.2em;
	}
	
	q{
		font-size:1.4em;
		line-height:1.1em;
		margin-top: 30px;
		word-wrap: break-word;
		padding: $general-padding;
		text-align:center;
		display:block;
		
		
	}
	q.full{
	}
	
	.detail { 
		position: absolute; 
		left: -20%; 
		top: -20px;
		padding: 0px 0px 20px 0px;
		width: 140%;
		display: none;
		background: $detail-background;
		@include border-radius($default-radius); 

		q{
			margin-top: 0px;
			padding: 30px;
			text-shadow: #ddd 1px 2px 1px;
			font-size:1.6em;
		}
	}
	
}

ul.boxList li:hover {
		img{
			opacity: 1;
		}
		.detail {
			display: block;
			z-index: 999;
		}
}
	
	
	
.pressed {

}	
 
.clips {

}




.cleaner {
	clear: both;
	height: 0;
	content: ' ';
	overflow: hidden;
	
	hr {
		display: none;
		}
}


#delete-dialog {
	display:none;
}
#comment-dialog {display:none;}
/* Overlay */
#simplemodal-overlay {background-color:#000;}

/* Container */
#simplemodal-container {
	width:300px; 
	color:#000; 
	background-color:#fff; 
	@include dialog-border;
	padding:$general-padding;
	
	.buttons{
		margin-top:5px;
	}
	h3,p {
		text-align:center;
	}
	h3{ margin-bottom:5px;
	}

	
	a.modalCloseImg {
		background:url(/static/img/x.png) no-repeat; 
		width:25px; 
		height:29px; 
		display:inline; 
		z-index:3200; 
		position:absolute; 
		top:0px; right:0px; 
		cursor:pointer;
	}
}
//#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; margin-bottom:12px; padding:4px 6px 6px;}


#simplemodal-container #basic-modal-content {padding:8px;}


.awesome {
	background: #222 url(/static/img/alert-overlay.png) repeat-x;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	@include border-radius($default-radius);
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	text-shadow: 0 -1px 1px #222;
	border-bottom: 1px solid #222;
	position: relative;
	cursor: pointer;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

/* Sizes ---------- */
.small.awesome {
	font-size: 11px;
	padding: 4px 8px 5px;
}

.medium.awesome {
	font-size: 13px;
}

.large.awesome {
	font-size: 14px;
	padding: 8px 14px 9px;
}
.blue.awesome {
	background-color: #2daebf;
}



